/* #63c8ed */


/* Remove the navbar's default margin-bottom and rounded borders */

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    border-bottom: 1px solid #63c8ed;
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.row.content {
    height: 450px
}


/* Set gray background color and 100% height */

.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

footer {
    background-color: #F2F2F2;
    color: gray;
    padding: 15px;
    max-height: 45px;
    border-radius: 0;
    border-top: 1px solid #63c8ed;
}


/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}

.below-nav {
    margin-top: 70px;
    margin-bottom: 60px;
}





.title-style {
    font-family: 'Open Sans', sans-serif;
}


.salt {
   font-weight: bold;
/*   background-color: #CEF6F5;*/
   vertical-align: middle !important;
}


.highlight { 
    background-color: yellow !important; 
}


/* to outline text 
.outline
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}*/

.table-message {
    color:black; 
    background-color: #E0F8F7; /*#63c8ed; */
    font-weight: normal; 
    /*margin-left: 10px;*/
  /*  margin-right: 10px;*/
    border: 1px solid #58ACFA;
    border-radius: 5px;
   /* padding-top: 8px;*/
}

/*
.table-legend {
    color:black; 
    background-color: white; 
    vertical-align: middle;
    border: 1px solid black;
    margin-left: 10px;
    border: 1px solid black;
    height: 35px;
    padding-top: 6px;
}
*/

