



.settings-hedding{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/settings/settings.png');
    height:200px;
    max-width: 100%;
    background-size:100% 100%;
    background-repeat:no-repeat;
    background: linear-gradient(rgba(0,0,0,.10)); 
}
.settings-hedding h1{
    color:#fff;
    padding:70px 0px;
    font-weight:900;
    z-index: 1;
}

.settings-tabs button {
    border-top-left-radius: 24px!important;
    border-top-right-radius: 24px!important;
}


